In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [2]:
ibi_data = pd.read_csv('scripps1_ibi.csv',sep=';')

In [47]:
# potentially just estimate that IBI is measured every second? 
# drop any areas where IBI is NaN 
ibi_data.head()

         Date      Time  Validity  Padded IBI     IBI      UTC time
0  27.11.2018  12:37:43         0        1312  1312.0  1.543351e+09
1  27.11.2018  12:37:43         1         980   980.0  1.543351e+09
2  27.11.2018  12:37:43         1         956   956.0  1.543351e+09
3  27.11.2018  12:37:43         1        1096  1096.0  1.543351e+09
4  27.11.2018  12:37:43         1        1172  1172.0  1.543351e+09

In [58]:
ibi_data.iloc[947:949]

           Date      Time  Validity  Padded IBI     IBI      UTC time
947  27.11.2018  12:53:29         2        1012  1012.0  1.543352e+09
948  27.11.2018  17:25:12        -1    16303000     NaN           NaN

In [57]:
[i for i, x in enumerate(list((ibi_data['Padded IBI']-ibi_data['IBI'])==0)) if not x]

[948,
 2029,
 2270,
 3513,
 9394,
 14681,
 19632,
 24769,
 27926,
 30237,
 31504,
 33647,
 35532,
 38029,
 39398,
 39819,
 42820,
 43571,
 43800,
 45733,
 52778,
 56169,
 58354,
 62243,
 66252,
 69079,
 70946,
 72201,
 72484,
 73163,
 75180,
 76393,
 76472,
 78975,
 79234,
 82235,
 89784,
 91975,
 96686,
 99249,
 101938,
 103841,
 107472,
 107599,
 108470,
 110463,
 111718,
 112523,
 112794,
 113983,
 114230,
 116901,
 118912,
 124535,
 127986,
 132973,
 135554,
 137955,
 141580,
 143735,
 145632,
 145759,
 146366,
 146625,
 148876,
 154229,
 159648,
 159955,
 165674,
 167583,
 169060,
 170393,
 171456,
 173209,
 177242,
 177801,
 177958,
 178319,
 178566,
 179383,
 179588,
 181263,
 184120,
 187625,
 192312,
 195295,
 197462,
 199443,
 202144,
 205229,
 207384,
 208105,
 208112,
 208833,
 209980,
 210245,
 210564,
 210787,
 217106,
 222135,
 224818,
 226523,
 230586,
 233659,
 235184,
 237435,
 239296,
 240245,
 240522,
 241273,
 241562,
 243387,
 245134,
 251831,
 254400,
 260599,
 263828,
 266289,
 269674,
 270797,
 270912,
 272329,
 274436,
 275523,
 275746,
 278885,
 286530,
 289837,
 292862,
 297351,
 298438,
 299651,
 300138,
 303883,
 306284,
 308379,
 308638,
 309053,
 309666,
 309799,
 311438,
 311685,
 311944,
 312905,
 314946,
 316141,
 317228,
 318315,
 321340,
 325145,
 330120,
 332173,
 334280,
 336723,
 337708,
 337901,
 338178,
 338419,
 338912,
 339177,
 341338,
 345395,
 348150,
 350527,
 353432,
 358827,
 361402,
 364007,
 366348,
 366979,
 367232,
 367401,
 367642,
 369203,
 370230,
 370447,
 371882,
 376869,
 380230,
 385487,
 385788,
 388567,
 389660,
 391509,
 392464,
 393059,
 394434,
 395821,
 396236,
 397785,
 398398,
 398687,
 401046,
 403165,
 409160,
 412647,
 416218,
 418259,
 420090,
 422173,
 426878,
 427007,
 427020,
 427237,
 427604,
 428019,
 428248,
 430841,
 435330,
 437257,
 439136,
 441447,
 442108,
 444095,
 445680,
 448291,
 450236,
 452343,
 454576,
 454997,
 455832,
 456601,
 459842,
 460083,
 460300,
 460583,
 462684,
 469585,
 474548,
 479049,
 480490,
 483059,
 485028,
 487579,
 489980]

In [44]:
len(level1['UTC time'].unique())

384522

In [31]:
ibi_data.groupby(['Date','Time']).sum()

                   Validity  Padded IBI      IBI      UTC time
Date      Time
1.12.2018 0:00:02         6        6028   6028.0  9.261907e+09
          0:00:08         6        6188   6188.0  9.261907e+09
          0:00:14         6        6088   6088.0  9.261907e+09
          0:00:20         6        5868   5868.0  9.261907e+09
          0:00:26         6        6000   6000.0  9.261907e+09
          0:00:32         6        6024   6024.0  9.261907e+09
          0:00:38         6        6052   6052.0  9.261907e+09
          0:00:44         6        6184   6184.0  9.261907e+09
          0:00:50         6        5948   5948.0  9.261907e+09
          0:00:56         6        5908   5908.0  9.261908e+09
          0:01:02         6        6168   6168.0  9.261908e+09
          0:01:08         6        6048   6048.0  9.261908e+09
          0:01:15         6        6180   6180.0  9.261908e+09
          0:01:21         6        6228   6228.0  9.261908e+09
          0:01:26         6        5956   5956.0  9.261908e+09
          0:01:32         6        5952   5952.0  9.261908e+09
          0:01:38         6        6028   6028.0  9.261908e+09
          0:01:44         6        5852   5852.0  9.261908e+09
          0:01:50         6        6028   6028.0  9.261908e+09
          0:01:56         6        5920   5920.0  9.261908e+09
          0:02:02         6        5892   5892.0  9.261908e+09
          0:02:08         6        6172   6172.0  9.261908e+09
          0:02:14         6        5972   5972.0  9.261908e+09
          0:02:21         6        6148   6148.0  9.261908e+09
          0:02:26         6        6048   6048.0  9.261908e+09
          0:02:32         6        5968   5968.0  9.261908e+09
          0:02:38         6        5884   5884.0  9.261908e+09
          0:02:45         6        5964   5964.0  9.261908e+09
          0:02:51         6        6344   6344.0  9.261908e+09
          0:02:57         6        6108   6108.0  9.261908e+09
...                     ...         ...      ...           ...
9.12.2018 9:19:31         6        5836   5836.0  9.266256e+09
          9:19:36         6        5732   5732.0  9.266256e+09
          9:19:45        10        4176   4176.0  9.266256e+09
          9:19:49         8        4256   4256.0  9.266256e+09
          9:19:53         6        4664   4664.0  9.266256e+09
          9:20:03        23        6832   6832.0  1.853251e+10
          9:20:08        22        6884   6884.0  1.853251e+10
          9:20:13        11        4588   4588.0  9.266256e+09
          9:20:30        11        5040   5040.0  9.266256e+09
          9:20:35        12        5872   5872.0  9.266256e+09
          9:20:44        12        6616   6616.0  9.266256e+09
          9:20:55        12        4632   4632.0  9.266256e+09
          9:21:03        12        4896   4896.0  9.266256e+09
          9:21:08        12        9392   9392.0  9.266256e+09
          9:21:17        13        8080   8080.0  9.266256e+09
          9:21:32        23       13188  13188.0  1.853251e+10
          9:21:43        35       17916  17916.0  2.779877e+10
          9:21:55        11        4080   4080.0  9.266257e+09
          9:22:10        11        4176   4176.0  9.266257e+09
          9:22:14        24       14624  14624.0  1.853251e+10
          9:22:19        23       12544  12544.0  1.853251e+10
          9:22:44        11        5216   5216.0  9.266257e+09
          9:22:48        24       21084  21084.0  1.853251e+10
          9:22:51        23        6860   6860.0  1.853251e+10
          9:22:56        12        3456   3456.0  9.266257e+09
          9:23:00        16        3852   3852.0  9.266257e+09
          9:23:12        23        7680   7680.0  1.853251e+10
          9:23:23        23       12716  12716.0  1.853251e+10
          9:23:31        22       11784  11784.0  1.853251e+10
          9:23:42        12        7936   7936.0  9.266257e+09

[76603 rows x 4 columns]

In [39]:
ibi_data['UTC time'][4]

1543351061.0

In [36]:
datetime.datetime.fromtimestamp(ibi_data['UTC time'][1])

datetime.datetime(2018, 11, 27, 12, 37, 38)

In [40]:
ibi_data.describe()

            Validity    Padded IBI            IBI      UTC time
count  490083.000000  4.900830e+05  489848.000000  4.898480e+05
mean        1.197558  2.604982e+03     998.022182  1.543983e+09
std         0.551546  1.796191e+05     220.442680  3.788561e+05
min        -2.000000  0.000000e+00       0.000000  1.543351e+09
25%         1.000000  9.320000e+02     932.000000  1.543658e+09
50%         1.000000  1.012000e+03    1012.000000  1.543996e+09
75%         1.000000  1.104000e+03    1104.000000  1.544322e+09
max        15.000000  5.007400e+07    2000.000000  1.544629e+09